# Ignore model weights
models/*.pt
models/*.pth

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
venv/
screenwatch-venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore logs and cache
*.log
*.cache/
